.main-wrapper {
}

.shopping-section {
  padding: 2rem;
}

.cart-section {
  padding: 2rem;
}



@media (min-width: 700px) {
  .main-wrapper {
    display: flex;
  }

  .shopping-section {
    flex: 4;
  }

  .cart-section {
    flex: 3;
  }
}
